body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
    color: black;
    font-size:medium;
    font-style: initial;
}
nav{
    padding: 0px 4px;
    font-style:inherit;
    background-color:  rgb(67, 150, 245);
    border-radius: 8px;
}

nav a{
    margin:8px;
    font-style: oblique;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
    

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
    
}

header{
    background-color:rgb(67, 150, 245);
    text-align: center;
    border-radius: 16px;
}

footer {
    text-align: center;
    padding: 2rem;
    background: black;
    color: white;
    margin-top: 50px;
}

video{
    width:360px ;
    height: auto;
    border-radius: 8px
}
img{
    width:360px ;
    height: auto;
    border-radius: 8px
}

h2{
    background-color: rgb(67, 150, 245);
    color: aliceblue;
    padding: 25px;
    border-left: 15px rgb(207, 199, 199);
    margin-top: px;
    border-radius: 10px;
    font-style: oblique;
}

h3{
    background-color: rgb(67, 150, 245);
    color: rgb(255, 255, 255);
    padding: 25px;
    border-left: 15px rgb(207, 199, 199);
    margin-top: px;
    border-radius: 10px;
    font-style: oblique;
}